*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

/*-----------Header-----------*/



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(205, 92, 92, 0.651);
}

.logo {
    flex-basis: 20%;
    margin-left: 10vw;

}
.logo h1{
    font-family: 'Ramaraja', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: rgba(226, 226, 226, 0.849);
}
.nav {
    flex-basis: 70%;
    display: flex;
    width: 20vw;
    justify-content: flex-end;
}
.nav li {
    list-style: none;
    margin-right: 5vw;
}
.nav a {
    text-decoration: none;
    color: rgba(226, 226, 226, 0.849);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.burger {
    display: none;
    margin-right: 3vw;
    cursor: pointer;

}
.burger div {
    width: 35px;
    height: 5px;
    background-color:rgba(226, 226, 226, 0.849);
    margin: 5px;
    border-radius: 2px;
    transition: 0.3s ease;
    
}

@media screen and (max-width:700px) {
    body{
        overflow-x: hidden;
    }
    .burger {
        display: block;   
    }
    .nav {
        position: absolute;
        right: 0px;
        height: 20vh;
        top: 8vh;
        background-color: rgba(205, 92, 92, 0.651);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }  
    .nav li {
        opacity: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,9px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-9px);
}


/*---------Main---------*/


.banner {
    width: 100%;
    background-image: url('../images/board.avif');
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/*---------Overlay-----------*/
.banner::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.336);
    width: 100%;
    height: 92vh;
}

.banner * {
  position: relative;
}

.banner h2{
font-size: 4rem;
color: rgba(255, 255, 255, 0.774);
font-family:'Ramaraja', serif;
letter-spacing: 10px;
font-weight: 300;

}
.banner p {
    color: rgba(255, 255, 255, 0.774);
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: -1.5rem;
}